
        <form action='/login' class="navbar-form navbar-right" role="search" method='post'>
          <div class="form-group">
            <input type="text" class="form-control" name='username' placeholder="Username">
            <input type="password" class="form-control" name='password' placeholder="Password">
          </div>
          <button id="button" type="submit" class="btn btn-primary">Login</button>
        </form>

