<form action="/twit/<%=session[:user_id]%>" method="post">
  <p><textarea name="content" rows="5" cols="50" placeholder='Your comments'></textarea></p>
    <input type="submit" value="Twit!">
</form>


