<%= erb :_user_pic %>

<section>
    <h2>Twits</h2>

    <% if current_user.id == @user.id %>
      <%= erb :_twit_form %>
    <% end %>


    <% if current_user.id != @user.id %>
      <%= erb :_follow_button %>
    <% end %>

    <%= erb :_twit_list %>


</section>


